[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/lusungu-skillset/api-gateway.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/lusungu-skillset/user-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/lusungu-skillset/auth-service.git
[submodule "recordings-service"]
	path = recordings-service
	url = https://github.com/https://github.com/lusungu-skillset/recordings-service.git
