version: '3.9'

services:

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

 
  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    env_file: .env
    depends_on:
      - mysql
      - redis
    ports:
      - "3001:3001"   
    networks:
      - app-network

  recordings-service:
    build: ./recordings-service
    container_name: recordings-service
    restart: always
    env_file: .env
    depends_on:
      - mysql
      - redis
    ports:
      - "3002:3002"
    volumes:
      - recordings_data:/data/videos   
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    env_file: .env
    depends_on:
      - mysql
      - redis
    ports:
      - "3003:3003"   
    networks:
      - app-network


  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - user-service
      - recordings-service
      - auth-service
      - redis
    networks:
      - app-network

volumes:
  mysql_data:
  recordings_data:

networks:
  app-network:
    driver: bridge
